<!DOCTYPE html>
<html lang="en" ng-app="plantaIotApp">
<head>
	<title>Planta Iot</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<style>
		body, iframe, .alert, .row > div {
			margin-top: 2em;
		}

		iframe {
			border-style: none;
		}
	</style>
</head>
<body ng-controller="MainCtrl as ctrl" ng-cloak>
	<div class="container">
		<div ng-show="ctrl.status.type" class="alert alert-{{ ctrl.status.type }}">
			<button type="button" data-dismiss="alert" class="close">&times;</button>
			{{ ctrl.status.message}}
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-3 col-md-offset-4">
			    <button ng-click="ctrl.displayOn()" class="btn btn-primary btn-lg">Display ON</button>
				<button ng-click="ctrl.displayOff()" class="btn btn-danger btn-lg">Display OFF</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-3 col-md-offset-4">
			    <button ng-click="ctrl.pumpOn()" class="btn btn-primary btn-lg">Pump ON</button>
				<button ng-click="ctrl.pumpOff()" class="btn btn-danger btn-lg">Pump OFF</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-3 col-md-offset-4">
				<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Configure</button>
			</div>
		</div>

		<div class="row" ng-show="ctrl.settings.iframeUrl">
			<div class="col-sm-12 col-md-3 col-md-offset-3">
				<iframe width="450" height="260" ng-src="{{ ctrl.settings.iframeUrl }}"></iframe>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Configurações</h4>
				</div>
				<div class="modal-body">
					<form>
						<label for="channelId">
							Channel ID: 
							<input type="text" id="channelId" ng-model="ctrl.settings.channelId" required>
						</label>
						<label for="talkBackId">
							TalkBack ID: 
							<input type="text" id="talkBackId" ng-model="ctrl.settings.talkBackIdId" required>
						</label>
						<label for="writeKey">
							 TalkBack Key: 
							<input type="text" id="writeKey" ng-model="ctrl.settings.writeKey" required>
						</label>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					<button type="submit" class="btn btn-primary" ng-click="ctrl.saveConfig()">Salvar</button>
				</div>
			</div>
		</div>
	</div>

    <script src="//code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-sanitize.min.js"></script>
    <script src="index.js"></script>
</body>
</html>
